.btn {
  margin: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  border: none;
  border-radius: 11px;
  background: #258bbb;
  box-shadow: 4px 4px 2.2px 1px #004f75;
}

.btn-info {
  color: #f0e5cd;
  font-family: Permanent Marker;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.share-container {
  display: flex;
}
